<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".pos.ProductCart"
            android:exported="false" />
        <activity
            android:name=".setting.payment_method.AddPaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".setting.order_type.AddOrderTypeActivity"
            android:exported="false" />
        <activity
            android:name=".setting.unit.AddUnitActivity"
            android:exported="false" />
        <activity
            android:name=".setting.categories.AddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".setting.unit.UnitActivity"
            android:exported="false" />
        <activity
            android:name=".setting.order_type.OrderTypeActivity"
            android:exported="false" />
        <activity
            android:name=".setting.payment_method.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".setting.categories.CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".setting.shop.ShopInformationActivity"
            android:exported="false" />
        <activity
            android:name=".product.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".expense.AddExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".customers.AddCustomersActivity"
            android:exported="false" />
        <activity
            android:name=".suppliers.AddSuppliersActivity"
            android:exported="false" />
        <activity
            android:name=".pos.PosActivity"
            android:exported="false" />
        <activity
            android:name=".orders.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".expense.ExpenseActivity"
            android:exported="false" />
        <activity
            android:name=".report.ReportActivity"
            android:exported="false" />
        <activity
            android:name=".product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".suppliers.SuppliersActivity"
            android:exported="false" />
        <activity
            android:name=".customers.CustomersActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>